In [13]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.metrics import mean_absolute_error, mean_squared_error
from xgboost import XGBRegressor
import optuna

import warnings
warnings.filterwarnings("ignore")

In [3]:
#import data:
data = pd.read_csv("../../kaggle-30days/data/train_folds/train_folds.csv")
#shuffle the data:
data_full= data.sample(frac=1)

In [4]:
#training data: 
#Note: since test data is not available:
df = data_full.iloc[:240000,:]
df_test = data_full.iloc[240000:,:]

In [5]:
useful_features = [c for c in df.columns if c not in ["id","target","kfold"]]
object_cols = [c for c in useful_features if c.startswith("cat")]
df_test = df_test[useful_features]

In [6]:
#target encoding:
for col in object_cols:
    temp_df = []
    temp_test_feat =None
    for fold in range(5):
        xtrain =  df[df.kfold != fold].reset_index(drop=True)
        xvalid = df[df.kfold == fold].reset_index(drop=True)
        feat = xtrain.groupby(col)["target"].agg("mean")
        feat = feat.to_dict()
        print(feat)
        xvalid.loc[:, f"tar_enc_{col}"] = xvalid[col].map(feat)
        print(xvalid.head())
        temp_df.append(xvalid)
        if temp_test_feat is None:
            temp_test_feat = df_test[col].map(feat)
        else:
            temp_test_feat += df_test[col].map(feat) 
    
    #calculate the value for each fold and then divide by 5:
    temp_test_feat /= 5
    df_test.loc[:, f"tar_enc_{col}"] = temp_test_feat
    df = pd.concat(temp_df)
    print("df",df)

{'A': 8.237357916702521, 'B': 8.249206864369928}
       id cat0 cat1 cat2  ...    cont13    target kfold tar_enc_cat0
0   97127    A    A    A  ...  0.189804  8.884669     0     8.237358
1   28518    A    A    A  ...  0.857538  9.041808     0     8.237358
2  289922    B    A    B  ...  0.764259  7.428308     0     8.249207
3  265997    B    A    A  ...  0.425692  8.327012     0     8.249207
4  103360    B    A    A  ...  0.708118  8.630546     0     8.249207

[5 rows x 28 columns]
{'A': 8.237168140863156, 'B': 8.249228725855923}
       id cat0 cat1 cat2  ...    cont13    target kfold tar_enc_cat0
0  488880    B    B    A  ...  0.818652  9.339204     1     8.249229
1  357806    A    B    A  ...  0.843537  8.117776     1     8.237168
2   41431    B    B    A  ...  0.587890  8.200927     1     8.249229
3  188016    A    A    A  ...  0.287837  8.823878     1     8.237168
4  327993    A    A    A  ...  0.202111  9.081631     1     8.237168

[5 rows x 28 columns]
{'A': 8.23817247947091, 'B': 8.249024617101867}
       id cat0 cat1 cat2  ...    cont13    target kfold tar_enc_cat0
0  144377    A    A    A  ...  0.648895  8.608907     2     8.238172
1  371205    A    B    A  ...  0.620729  7.019098     2     8.238172
2   10724    B    A    A  ...  0.761979  8.108192     2     8.249025
3  368563    B    A    A  ...  0.714992  8.034682     2     8.249025
4   16125    B    A    A  ...  0.451163  8.654783     2     8.249025

[5 rows x 28 columns]
{'A': 8.237492241548704, 'B': 8.247945263839913}
       id cat0 cat1 cat2  ...    cont13    target kfold tar_enc_cat0
0  214778    A    B    A  ...  0.201525  7.180367     3     8.237492
1   91330    A    B    A  ...  0.427171  8.270042     3     8.237492
2   95512    A    B    B  ...  0.294020  7.920226     3     8.237492
3  106711    A    B    A  ...  0.273207  8.441344     3     8.237492
4  212946    B    A    A  ...  0.828638  7.443076     3     8.247945

[5 rows x 28 columns]
{'A': 8.23772253446005, 'B': 8.24549758856122}
       id cat0 cat1 cat2  ...    cont13    target kfold tar_enc_cat0
0  424309    B    A    A  ...  0.763019  7.615672     4     8.245498
1  373239    A    B    A  ...  0.336388  7.886911     4     8.237723
2  493757    B    B    A  ...  0.863103  6.984641     4     8.245498
3   24125    A    A    A  ...  0.469829  8.518811     4     8.237723
4  312331    A    A    A  ...  0.695126  8.405185     4     8.237723

[5 rows x 28 columns]
df            id cat0 cat1 cat2  ...    cont13    target kfold tar_enc_cat0
0       97127    A    A    A  ...  0.189804  8.884669     0     8.237358
1       28518    A    A    A  ...  0.857538  9.041808     0     8.237358
2      289922    B    A    B  ...  0.764259  7.428308     0     8.249207
3      265997    B    A    A  ...  0.425692  8.327012     0     8.249207
4      103360    B    A    A  ...  0.708118  8.630546     0     8.249207
...       ...  ...  ...  ...  ...       ...       ...   ...          ...
47935  459632    A    A    A  ...  0.797256  7.968289     4     8.237723
47936  432458    B    A    A  ...  0.326452  8.088297     4     8.245498
47937  413623    A    A    A  ...  0.164810  7.517437     4     8.237723
47938  158228    A    B    A  ...  0.471487  7.866204     4     8.237723
47939  170223    A    A    A  ...  0.250461  8.358065     4     8.237723

[240000 rows x 28 columns]
{'A': 8.276967583172375, 'B': 8.20370718226016}
       id cat0 cat1 cat2  ...    target kfold tar_enc_cat0 tar_enc_cat1
0   97127    A    A    A  ...  8.884669     0     8.237358     8.276968
1   28518    A    A    A  ...  9.041808     0     8.237358     8.276968
2  289922    B    A    B  ...  7.428308     0     8.249207     8.276968
3  265997    B    A    A  ...  8.327012     0     8.249207     8.276968
4  103360    B    A    A  ...  8.630546     0     8.249207     8.276968

[5 rows x 29 columns]
{'A': 8.276917063766497, 'B': 8.203718332683875}
       id cat0 cat1 cat2  ...    target kfold tar_enc_cat0 tar_enc_cat1
0  488880    B    B    A  ...  9.339204     1     8.249229     8.203718
1  357806    A    B    A  ...  8.117776     1     8.237168     8.203718
2   41431    B    B    A  ...  8.200927     1     8.249229     8.203718
3  188016    A    A    A  ...  8.823878     1     8.237168     8.276917
4  327993    A    A    A  ...  9.081631     1     8.237168     8.276917

[5 rows x 29 columns]
{'A': 8.278212452058355, 'B': 8.20349727304021}
       id cat0 cat1 cat2  ...    target kfold tar_enc_cat0 tar_enc_cat1
0  144377    A    A    A  ...  8.608907     2     8.238172     8.278212
1  371205    A    B    A  ...  7.019098     2     8.238172     8.203497
2   10724    B    A    A  ...  8.108192     2     8.249025     8.278212
3  368563    B    A    A  ...  8.034682     2     8.249025     8.278212
4   16125    B    A    A  ...  8.654783     2     8.249025     8.278212

[5 rows x 29 columns]
{'A': 8.278911551522635, 'B': 8.200954431193102}
       id cat0 cat1 cat2  ...    target kfold tar_enc_cat0 tar_enc_cat1
0  214778    A    B    A  ...  7.180367     3     8.237492     8.200954
1   91330    A    B    A  ...  8.270042     3     8.237492     8.200954
2   95512    A    B    B  ...  7.920226     3     8.237492     8.200954
3  106711    A    B    A  ...  8.441344     3     8.237492     8.200954
4  212946    B    A    A  ...  7.443076     3     8.247945     8.278912

[5 rows x 29 columns]
{'A': 8.276709539844857, 'B': 8.201880294091511}
       id cat0 cat1 cat2  ...    target kfold tar_enc_cat0 tar_enc_cat1
0  424309    B    A    A  ...  7.615672     4     8.245498      8.27671
1  373239    A    B    A  ...  7.886911     4     8.237723      8.20188
2  493757    B    B    A  ...  6.984641     4     8.245498      8.20188
3   24125    A    A    A  ...  8.518811     4     8.237723      8.27671
4  312331    A    A    A  ...  8.405185     4     8.237723      8.27671

[5 rows x 29 columns]
df            id cat0 cat1 cat2  ...    target kfold tar_enc_cat0 tar_enc_cat1
0       97127    A    A    A  ...  8.884669     0     8.237358     8.276968
1       28518    A    A    A  ...  9.041808     0     8.237358     8.276968
2      289922    B    A    B  ...  7.428308     0     8.249207     8.276968
3      265997    B    A    A  ...  8.327012     0     8.249207     8.276968
4      103360    B    A    A  ...  8.630546     0     8.249207     8.276968
...       ...  ...  ...  ...  ...       ...   ...          ...          ...
47935  459632    A    A    A  ...  7.968289     4     8.237723     8.276710
47936  432458    B    A    A  ...  8.088297     4     8.245498     8.276710
47937  413623    A    A    A  ...  7.517437     4     8.237723     8.276710
47938  158228    A    B    A  ...  7.866204     4     8.237723     8.201880
47939  170223    A    A    A  ...  8.358065     4     8.237723     8.276710

[240000 rows x 29 columns]
{'A': 8.244615808957683, 'B': 8.224856268365869}
       id cat0 cat1 cat2  ... kfold tar_enc_cat0 tar_enc_cat1 tar_enc_cat2
0   97127    A    A    A  ...     0     8.237358     8.276968     8.244616
1   28518    A    A    A  ...     0     8.237358     8.276968     8.244616
2  289922    B    A    B  ...     0     8.249207     8.276968     8.224856
3  265997    B    A    A  ...     0     8.249207     8.276968     8.244616
4  103360    B    A    A  ...     0     8.249207     8.276968     8.244616

[5 rows x 30 columns]
{'A': 8.244863063982859, 'B': 8.222562397347376}
       id cat0 cat1 cat2  ... kfold tar_enc_cat0 tar_enc_cat1 tar_enc_cat2
0  488880    B    B    A  ...     1     8.249229     8.203718     8.244863
1  357806    A    B    A  ...     1     8.237168     8.203718     8.244863
2   41431    B    B    A  ...     1     8.249229     8.203718     8.244863
3  188016    A    A    A  ...     1     8.237168     8.276917     8.244863
4  327993    A    A    A  ...     1     8.237168     8.276917     8.244863

[5 rows x 30 columns]
{'A': 8.245127065429921, 'B': 8.22509769221099}
       id cat0 cat1 cat2  ... kfold tar_enc_cat0 tar_enc_cat1 tar_enc_cat2
0  144377    A    A    A  ...     2     8.238172     8.278212     8.245127
1  371205    A    B    A  ...     2     8.238172     8.203497     8.245127
2   10724    B    A    A  ...     2     8.249025     8.278212     8.245127
3  368563    B    A    A  ...     2     8.249025     8.278212     8.245127
4   16125    B    A    A  ...     2     8.249025     8.278212     8.245127

[5 rows x 30 columns]
{'A': 8.24457019626376, 'B': 8.22284141021038}
       id cat0 cat1 cat2  ... kfold tar_enc_cat0 tar_enc_cat1 tar_enc_cat2
0  214778    A    B    A  ...     3     8.237492     8.200954     8.244570
1   91330    A    B    A  ...     3     8.237492     8.200954     8.244570
2   95512    A    B    B  ...     3     8.237492     8.200954     8.222841
3  106711    A    B    A  ...     3     8.237492     8.200954     8.244570
4  212946    B    A    A  ...     3     8.247945     8.278912     8.244570

[5 rows x 30 columns]
{'A': 8.243585087534305, 'B': 8.223475850857588}
       id cat0 cat1 cat2  ... kfold tar_enc_cat0 tar_enc_cat1 tar_enc_cat2
0  424309    B    A    A  ...     4     8.245498      8.27671     8.243585
1  373239    A    B    A  ...     4     8.237723      8.20188     8.243585
2  493757    B    B    A  ...     4     8.245498      8.20188     8.243585
3   24125    A    A    A  ...     4     8.237723      8.27671     8.243585
4  312331    A    A    A  ...     4     8.237723      8.27671     8.243585

[5 rows x 30 columns]
df            id cat0 cat1 cat2  ... kfold tar_enc_cat0 tar_enc_cat1 tar_enc_cat2
0       97127    A    A    A  ...     0     8.237358     8.276968     8.244616
1       28518    A    A    A  ...     0     8.237358     8.276968     8.244616
2      289922    B    A    B  ...     0     8.249207     8.276968     8.224856
3      265997    B    A    A  ...     0     8.249207     8.276968     8.244616
4      103360    B    A    A  ...     0     8.249207     8.276968     8.244616
...       ...  ...  ...  ...  ...   ...          ...          ...          ...
47935  459632    A    A    A  ...     4     8.237723     8.276710     8.243585
47936  432458    B    A    A  ...     4     8.245498     8.276710     8.243585
47937  413623    A    A    A  ...     4     8.237723     8.276710     8.243585
47938  158228    A    B    A  ...     4     8.237723     8.201880     8.243585
47939  170223    A    A    A  ...     4     8.237723     8.276710     8.243585

[240000 rows x 30 columns]
{'A': 8.272189214136219, 'B': 8.368743228707329, 'C': 8.23710569032115, 'D': 8.273070020038343}
       id cat0 cat1  ... tar_enc_cat1 tar_enc_cat2 tar_enc_cat3
0   97127    A    A  ...     8.276968     8.244616     8.272189
1   28518    A    A  ...     8.276968     8.244616     8.237106
2  289922    B    A  ...     8.276968     8.224856     8.237106
3  265997    B    A  ...     8.276968     8.244616     8.237106
4  103360    B    A  ...     8.276968     8.244616     8.237106

[5 rows x 31 columns]
{'A': 8.277751733957384, 'B': 8.37258134768906, 'C': 8.236432385834979, 'D': 8.263595878609232}
       id cat0 cat1  ... tar_enc_cat1 tar_enc_cat2 tar_enc_cat3
0  488880    B    B  ...     8.203718     8.244863     8.236432
1  357806    A    B  ...     8.203718     8.244863     8.236432
2   41431    B    B  ...     8.203718     8.244863     8.236432
3  188016    A    A  ...     8.276917     8.244863     8.236432
4  327993    A    A  ...     8.276917     8.244863     8.236432

[5 rows x 31 columns]
{'A': 8.275834162688007, 'B': 8.395434473389571, 'C': 8.237132001024255, 'D': 8.272418764179003}
       id cat0 cat1  ... tar_enc_cat1 tar_enc_cat2 tar_enc_cat3
0  144377    A    A  ...     8.278212     8.245127     8.237132
1  371205    A    B  ...     8.203497     8.245127     8.275834
2   10724    B    A  ...     8.278212     8.245127     8.237132
3  368563    B    A  ...     8.278212     8.245127     8.237132
4   16125    B    A  ...     8.278212     8.245127     8.237132

[5 rows x 31 columns]
{'A': 8.275886619124195, 'B': 8.39167336293412, 'C': 8.236194955434733, 'D': 8.272376085091022}
       id cat0 cat1  ... tar_enc_cat1 tar_enc_cat2 tar_enc_cat3
0  214778    A    B  ...     8.200954     8.244570     8.236195
1   91330    A    B  ...     8.200954     8.244570     8.236195
2   95512    A    B  ...     8.200954     8.222841     8.236195
3  106711    A    B  ...     8.200954     8.244570     8.236195
4  212946    B    A  ...     8.278912     8.244570     8.236195

[5 rows x 31 columns]
{'A': 8.276837608290204, 'B': 8.376255218307676, 'C': 8.235270822985957, 'D': 8.273702199263793}
       id cat0 cat1  ... tar_enc_cat1 tar_enc_cat2 tar_enc_cat3
0  424309    B    A  ...      8.27671     8.243585     8.235271
1  373239    A    B  ...      8.20188     8.243585     8.235271
2  493757    B    B  ...      8.20188     8.243585     8.235271
3   24125    A    A  ...      8.27671     8.243585     8.235271
4  312331    A    A  ...      8.27671     8.243585     8.235271

[5 rows x 31 columns]
df            id cat0 cat1  ... tar_enc_cat1 tar_enc_cat2 tar_enc_cat3
0       97127    A    A  ...     8.276968     8.244616     8.272189
1       28518    A    A  ...     8.276968     8.244616     8.237106
2      289922    B    A  ...     8.276968     8.224856     8.237106
3      265997    B    A  ...     8.276968     8.244616     8.237106
4      103360    B    A  ...     8.276968     8.244616     8.237106
...       ...  ...  ...  ...          ...          ...          ...
47935  459632    A    A  ...     8.276710     8.243585     8.235271
47936  432458    B    A  ...     8.276710     8.243585     8.235271
47937  413623    A    A  ...     8.276710     8.243585     8.235271
47938  158228    A    B  ...     8.201880     8.243585     8.235271
47939  170223    A    A  ...     8.276710     8.243585     8.235271

[240000 rows x 31 columns]
{'A': 8.265117296717065, 'B': 8.24093174944737, 'C': 8.302294102770773, 'D': 8.265288247987835}
       id cat0 cat1  ... tar_enc_cat2 tar_enc_cat3 tar_enc_cat4
0   97127    A    A  ...     8.244616     8.272189     8.240932
1   28518    A    A  ...     8.244616     8.237106     8.240932
2  289922    B    A  ...     8.224856     8.237106     8.240932
3  265997    B    A  ...     8.244616     8.237106     8.240932
4  103360    B    A  ...     8.244616     8.237106     8.240932

[5 rows x 32 columns]
{'A': 8.272864325589671, 'B': 8.240741270821383, 'C': 8.299730962852774, 'D': 8.262649675761082}
       id cat0 cat1  ... tar_enc_cat2 tar_enc_cat3 tar_enc_cat4
0  488880    B    B  ...     8.244863     8.236432     8.240741
1  357806    A    B  ...     8.244863     8.236432     8.240741
2   41431    B    B  ...     8.244863     8.236432     8.240741
3  188016    A    A  ...     8.244863     8.236432     8.240741
4  327993    A    A  ...     8.244863     8.236432     8.240741

[5 rows x 32 columns]
{'A': 8.281744361388219, 'B': 8.241172735189942, 'C': 8.317782352258796, 'D': 8.244868443944045}
       id cat0 cat1  ... tar_enc_cat2 tar_enc_cat3 tar_enc_cat4
0  144377    A    A  ...     8.245127     8.237132     8.241173
1  371205    A    B  ...     8.245127     8.275834     8.241173
2   10724    B    A  ...     8.245127     8.237132     8.241173
3  368563    B    A  ...     8.245127     8.237132     8.241173
4   16125    B    A  ...     8.245127     8.237132     8.241173

[5 rows x 32 columns]
{'A': 8.278300774702961, 'B': 8.240344561542027, 'C': 8.309070792022533, 'D': 8.292381612789326}
       id cat0 cat1  ... tar_enc_cat2 tar_enc_cat3 tar_enc_cat4
0  214778    A    B  ...     8.244570     8.236195     8.240345
1   91330    A    B  ...     8.244570     8.236195     8.240345
2   95512    A    B  ...     8.222841     8.236195     8.240345
3  106711    A    B  ...     8.244570     8.236195     8.240345
4  212946    B    A  ...     8.244570     8.236195     8.240345

[5 rows x 32 columns]
{'A': 8.283325960242708, 'B': 8.239564271301886, 'C': 8.315509239308115, 'D': 8.26429316197181}
       id cat0 cat1  ... tar_enc_cat2 tar_enc_cat3 tar_enc_cat4
0  424309    B    A  ...     8.243585     8.235271     8.239564
1  373239    A    B  ...     8.243585     8.235271     8.283326
2  493757    B    B  ...     8.243585     8.235271     8.239564
3   24125    A    A  ...     8.243585     8.235271     8.239564
4  312331    A    A  ...     8.243585     8.235271     8.239564

[5 rows x 32 columns]
df            id cat0 cat1  ... tar_enc_cat2 tar_enc_cat3 tar_enc_cat4
0       97127    A    A  ...     8.244616     8.272189     8.240932
1       28518    A    A  ...     8.244616     8.237106     8.240932
2      289922    B    A  ...     8.224856     8.237106     8.240932
3      265997    B    A  ...     8.244616     8.237106     8.240932
4      103360    B    A  ...     8.244616     8.237106     8.240932
...       ...  ...  ...  ...          ...          ...          ...
47935  459632    A    A  ...     8.243585     8.235271     8.239564
47936  432458    B    A  ...     8.243585     8.235271     8.239564
47937  413623    A    A  ...     8.243585     8.235271     8.239564
47938  158228    A    B  ...     8.243585     8.235271     8.239564
47939  170223    A    A  ...     8.243585     8.235271     8.239564

[240000 rows x 32 columns]
{'A': 8.257873657747636, 'B': 8.230900383199218, 'C': 8.273415272468487, 'D': 8.24851921221706}
       id cat0 cat1  ... tar_enc_cat3 tar_enc_cat4 tar_enc_cat5
0   97127    A    A  ...     8.272189     8.240932     8.230900
1   28518    A    A  ...     8.237106     8.240932     8.230900
2  289922    B    A  ...     8.237106     8.240932     8.230900
3  265997    B    A  ...     8.237106     8.240932     8.248519
4  103360    B    A  ...     8.237106     8.240932     8.248519

[5 rows x 33 columns]
{'A': 8.26984070791912, 'B': 8.23032072704292, 'C': 8.268588454809532, 'D': 8.249300289544}
       id cat0 cat1  ... tar_enc_cat3 tar_enc_cat4 tar_enc_cat5
0  488880    B    B  ...     8.236432     8.240741     8.230321
1  357806    A    B  ...     8.236432     8.240741     8.230321
2   41431    B    B  ...     8.236432     8.240741     8.230321
3  188016    A    A  ...     8.236432     8.240741     8.249300
4  327993    A    A  ...     8.236432     8.240741     8.230321

[5 rows x 33 columns]
{'A': 8.250295959171533, 'B': 8.230672859966678, 'C': 8.271647322825636, 'D': 8.250451309581988}
       id cat0 cat1  ... tar_enc_cat3 tar_enc_cat4 tar_enc_cat5
0  144377    A    A  ...     8.237132     8.241173     8.250451
1  371205    A    B  ...     8.275834     8.241173     8.230673
2   10724    B    A  ...     8.237132     8.241173     8.250451
3  368563    B    A  ...     8.237132     8.241173     8.250451
4   16125    B    A  ...     8.237132     8.241173     8.250296

[5 rows x 33 columns]
{'A': 8.253528853707003, 'B': 8.230291422071346, 'C': 8.271511678598413, 'D': 8.248870578233001}
       id cat0 cat1  ... tar_enc_cat3 tar_enc_cat4 tar_enc_cat5
0  214778    A    B  ...     8.236195     8.240345     8.230291
1   91330    A    B  ...     8.236195     8.240345     8.271512
2   95512    A    B  ...     8.236195     8.240345     8.230291
3  106711    A    B  ...     8.236195     8.240345     8.271512
4  212946    B    A  ...     8.236195     8.240345     8.230291

[5 rows x 33 columns]
{'A': 8.249177544939228, 'B': 8.229950657297287, 'C': 8.27388843120868, 'D': 8.247278575158052}
       id cat0 cat1  ... tar_enc_cat3 tar_enc_cat4 tar_enc_cat5
0  424309    B    A  ...     8.235271     8.239564     8.247279
1  373239    A    B  ...     8.235271     8.283326     8.229951
2  493757    B    B  ...     8.235271     8.239564     8.247279
3   24125    A    A  ...     8.235271     8.239564     8.247279
4  312331    A    A  ...     8.235271     8.239564     8.247279

[5 rows x 33 columns]
df            id cat0 cat1  ... tar_enc_cat3 tar_enc_cat4 tar_enc_cat5
0       97127    A    A  ...     8.272189     8.240932     8.230900
1       28518    A    A  ...     8.237106     8.240932     8.230900
2      289922    B    A  ...     8.237106     8.240932     8.230900
3      265997    B    A  ...     8.237106     8.240932     8.248519

In [8]:
df_test = df_test[useful_features]

In [14]:
#For this GPU is required
#Note: GPU hist doesnt give much great results, so tune the parameter in gpu and take those best params and use it to predict in CPU
def run(trial):
    fold=0
    #some examples of parameters for xgboost:
    learning_rate = trial.suggest_float("learning_rate", 1e-5, 1e-2, log=True)
    reg_lambda = trial.suggest_loguniform("reg_lambda", 1e-8, 100.0)
    reg_alpha = trial.suggest_loguniform("reg_alpha", 1e-8, 100.0)
    subsample = trial.suggest_float("subsample", 0.1, 1.0)
    colsample_bytree = trial.suggest_float("colsample_bytree", 0.1, 1.0)
    max_depth = trial.suggest_int("max_depth", 1, 7)
    
    
    xtrain = df[df.kfold != fold].reset_index(drop=True)
    xvalid = df[df.kfold == fold].reset_index(drop=True)
    
    ytrain = xtrain.target
    yvalid = xvalid.target
    
    xtrain = xtrain[useful_features]
    xvalid = xvalid[useful_features]
    
    ordinalencoder = preprocessing.OrdinalEncoder()
    xtrain[object_cols] = ordinalencoder.fit_transform(xtrain[object_cols])
    xvalid[object_cols] = ordinalencoder.transform(xvalid[object_cols])
    
    model = XGBRegressor(random_state=42,
                        #tree_method = "gpu_hist",
                        #gpu_id = "1",
                        #predictor = "gpu_predictor",
                        n_estimators = 200,
                        learning_rate =learning_rate,
                        reg_lambda = reg_lambda,
                        reg_alpha = reg_alpha,
                        subsample = subsample, 
                        colsample_bytree = colsample_bytree,
                        max_depth = max_depth,)
    model.fit(xtrain, ytrain, early_stopping_rounds=100, eval_set =[(xvalid, yvalid)], verbose=1000)
    pred_valid = model.predict(xvalid)
    rmse = mean_squared_error(y_true=yvalid, y_pred=pred_valid, squared=False)
    return rmse

In [16]:
#here we are specifying minimize since we wanted to optimize the rmse score:
study = optuna.create_study(direction = "minimize")
study.optimize(run, n_trials=5)

#Print the best parameters:
study.best_params

[I 2023-05-16 21:56:33,939] A new study created in memory with name: no-name-b1d5bbbf-132a-48c5-9096-d0a09016c5e9

[0]	validation_0-rmse:7.71773
[199]	validation_0-rmse:1.83691

[I 2023-05-16 21:56:41,024] Trial 0 finished with value: 1.8369129136751796 and parameters: {'learning_rate': 0.00761406470599245, 'reg_lambda': 0.011805311808314534, 'reg_alpha': 88.26953706323562, 'subsample': 0.3823448694972297, 'colsample_bytree': 0.4795130865215185, 'max_depth': 2}. Best is trial 0 with value: 1.8369129136751796.

[0]	validation_0-rmse:7.77574
[199]	validation_0-rmse:7.64842

[I 2023-05-16 21:56:48,723] Trial 1 finished with value: 7.6484207924682615 and parameters: {'learning_rate': 8.374908887543265e-05, 'reg_lambda': 17.733011282161932, 'reg_alpha': 0.0005951469797068024, 'subsample': 0.374830851517874, 'colsample_bytree': 0.7887392712816126, 'max_depth': 6}. Best is trial 0 with value: 1.8369129136751796.

[0]	validation_0-rmse:7.77628
[199]	validation_0-rmse:7.75564

[I 2023-05-16 21:56:59,786] Trial 2 finished with value: 7.755639456905614 and parameters: {'learning_rate': 1.3476639756894046e-05, 'reg_lambda': 0.021783328860354112, 'reg_alpha': 2.9809748731059723e-07, 'subsample': 0.6759219277211678, 'colsample_bytree': 0.17035763068373644, 'max_depth': 3}. Best is trial 0 with value: 1.8369129136751796.

[0]	validation_0-rmse:7.77561
[199]	validation_0-rmse:7.62336

[I 2023-05-16 21:57:04,264] Trial 3 finished with value: 7.623361659888947 and parameters: {'learning_rate': 0.00010028943444929665, 'reg_lambda': 4.1854526520695916e-08, 'reg_alpha': 1.5086348710080711e-05, 'subsample': 0.14817767805347645, 'colsample_bytree': 0.10109231193521442, 'max_depth': 1}. Best is trial 0 with value: 1.8369129136751796.

[0]	validation_0-rmse:7.75453
[199]	validation_0-rmse:4.44907

[I 2023-05-16 21:57:12,271] Trial 4 finished with value: 4.449070852338091 and parameters: {'learning_rate': 0.0028359892174821193, 'reg_lambda': 20.083851098961016, 'reg_alpha': 3.3856494175545493e-06, 'subsample': 0.8395102804934238, 'colsample_bytree': 0.7038628425590557, 'max_depth': 6}. Best is trial 0 with value: 1.8369129136751796.

{'learning_rate': 0.00761406470599245,
 'reg_lambda': 0.011805311808314534,
 'reg_alpha': 88.26953706323562,
 'subsample': 0.3823448694972297,
 'colsample_bytree': 0.4795130865215185,
 'max_depth': 2}